<h1>{{title}}</h1>
<p>Bienbenid@ a tu {{title}}</p>
<hr>
<h3>Route Params y Query String</h3>
<p>Haz click <a href="/tienda/pantalones/estacion/verano?material=seda&color=rojo&talla=M">en este enlace</a> para
    aprender más
    sobre los <em>Route Params y Query String</em></p>

<p>La ruta irá a <code>/tienda/pantalones/estacion/verano?material=seda&color=rojo&talla=M</code></p>

<p>Más ejemplos <a href="/tienda/jerseys/estacion/otoño?material=lana&color=marron&talla=XL">en este enlace</a> y <a
        href="/tienda/shorties/estacion/verano?material=pana&color=verde&talla=XS">en este enlace</a></p>
<hr>

<h3>Ejemplo práctico formulario (GET)</h3>
<p>Puedes rellenar un formulario de búsqueda de prendas <a href="/tienda/buscar">en este enlace</a></p>