<h1>Incio de sesión</h1>

<hr>

<form action="/iniciar-sesion" method="POST">

    Usuario: <input type="text" name="username"><br><br>

    Contraseña: <input type="password" name="pwd"><br><br>

    <input type="submit" value="INICIAR SESIÓN">
</form>