<h1>Búsqueda de prendas</h1>
<p>Un formulario te permite pasar los query strings de cada <code>input</code> tras la URL del <code>action</code></p>

<hr>

<form action="/tienda/resultados" method="GET">

    Prenda: <input type="text" name="clothe"><br><br>

    Color: <input type="text" name="color"><br><br>

    Talla: <input type="text" name="talla"><br><br>

    <input type="submit" value="BUSCAR">
</form>